<template name="home">
<div id="headerwrap">
	<div class="container">
		<div class="row">
			
			<h1>MINIMAL THEME</h1>
			
			<br>
				<h3>Hello, I'm Carlos. I love design.</h3>
			<br>
			
			<select class="ui search dropdown" id="estadoSelect">
    			{{#each estados}}
    				<option value="{{codigoEstado}}">{{estado}}</option>
    			{{/each}}
  			</select>

  			<select class="ui search dropdown">
    			{{#each municipios}}
    				<option value="{{codigoMunicipio}}">{{municipio}}</option>
    			{{/each}}
  			</select>

  			<br>
			
		</div>
	</div>
</div>
</template>